//
//  AuthSocialLogin.xcconfig
//  StarbucksCloneTuist
//
//  Created by 이주현 on 5/12/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAOKAO_NATIVE_APP_KEY = 5e47de3dd52ca27f6de5f544c1ca9947
GOOGLE_API_KEY = AIzaSyD5KZTkMs5q6sJJ14WpR8gkfWQV2C9sbJ0
