<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657456183181-drvgvtbs03p1bacd95he49ksrucgrgoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657456183181-drvgvtbs03p1bacd95he49ksrucgrgoe</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>umc.com.judyjStarbuck</string>
	<key>Image_URL</key>
	<string>$(Image_URL)</string>
</dict>
</plist>
